@import url(https://cdn.skypack.dev/sanitize.css);
:root{
    --ui-nav-grey: #1c1c1c;
    --ui-grey: #2e2e2e;
    --ui-black: #0e0e0e;
    --font-on-ui-black: #ffffff;
    --font-on-ui-grey: #dedede;
    --link-text-color-blue: #065fd4;
    --link-text-color-blue-hover: #0770fa;
    --link-text-color-purple: rgba(117, 117, 123, 0);
    --link-text-color-purple-hover: #9a5dfc;
}

.error {
    color: red;
}

.success {
    color: green;
}