@import url(../../styles.css);

nav, .container-nav {
    background: var(--ui-nav-grey);
    padding: 0.25em;
    text-align: right;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: white;
}

nav a:hover{
    color: #78DE50;
}

nav img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

nav .nav-logo ul, .nav-links ul, .container-nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

nav .nav-logo ul li, .nav-links ul li{
    color: white;
    padding: 0.25em;
}

.container-nav {
    margin: 1em 0;
    border-radius: 5px;
}
.container-nav ul{
    padding: 0;
}

.container-nav li{
    list-style: none;
}