/* CSS Reset */
@import url(../../styles.css);


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table{
    width: 100%;
}

table *{
    text-align: center;
    padding: 0.5em;
}

table th {
    background: var(--ui-nav-grey);
    color: white;
}

table th, td{
    border: 1px solid var(--ui-nav-grey);
}

table tr:hover{
    background: var(--light-green-color);
    color: white;
}

.table{
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    box-shadow:  5px 5px 30px #d9d9d9,
    -5px -5px 10px #ffffff;
}